= render "partials/nav"
.bg-white.mx-auto.max-w-4xl.rounded-lg.overflow-hidden.p-2
  %h1.text-xl Your webhooks

  %table.table-auto
    %thead
      %tr
        %th.border.px-4.py-2 Endpoint url
        %th.border.px-4.py-2 Description
        %th.border.px-4.py-2 Event types
        %th.border.px-4.py-2 Disabled
        %th.border{colspan: '3'} Actions
    %tbody
      - @webhooks.each do |webhook|
        %tr.bg-gray-100
          %td.border.px-4.py-2= webhook.endpoint_url
          %td.border.px-4.py-2= webhook.description
          %td.border.px-4.py-2= webhook.event_types
          %td.border.px-4.py-2= webhook.disabled
          %td.border.px-4.py-2= link_to 'Show', webhook, class: "text-blue-500 hover:text-blue-800"
          %td.border.px-4.py-2= link_to 'Edit', edit_webhook_path(webhook), class: "text-blue-500 hover:text-blue-800"
          %td.border.px-4.py-2= link_to 'Destroy', webhook, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-blue-500 hover:text-blue-800"

  %br

  = link_to 'New Webhook', new_webhook_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
