= render "partials/nav"
.bg-white.mx-auto.max-w-2xl.rounded-lg.overflow-hidden.p-2
  %p#notice= notice

  %p.p-2
    %b Title:
    = @todo.title
  %p.p-2
    %b Description:
    = @todo.description
  %p.p-2
    %b Created at:
    = @todo.created_at
  %p.p-2
    %b Updated at:
    = @todo.updated_at

  .mt-2
    = link_to 'Edit', edit_todo_path(@todo), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    = link_to 'Back', todos_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
